.banner {
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-textos {
    width: 1800px;
    display: flex;
    z-index: 1;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 351px;
}

.banner-textos-principal {
    font-family: var(--fonte-terciaria);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.banner-textos:last-child {
    align-self: flex-end;
}

#lacamento {
    font-size: 1.6rem;
    text-decoration: underline;
    padding: 0 0 10px 0;
}

#ecobeauty {
    font-size: 4.375rem;
    padding: 50px 0;
}

#Garotas {
    font-size: 2.5625rem;
    padding: 50px 0;
}

#Make {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 50px 0;
}

#promocao-paragrafo {
    font-size: 2.5rem;
}

#promocao-paragrafo strong {
    font-weight: 700;
}

#linha-prmocacao {
   border-color: var(--cor-do-footer);
}

.banner-imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
