.banner {
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-textos {
    width: 690px;
    display: flex;
    z-index: 1;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 100px;
}

.banner-textos-principal {
    font-family: var(--fonte-terciaria);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.banner-textos:last-child {
    align-self: flex-end;
}

#lacamento {
    font-size: 1rem;
    text-decoration: underline;
    padding: 0 0 10px 0;
}

#ecobeauty {
    font-size: 3.5rem;
    padding: 10px 0;
}

#Garotas {
    font-size: 1.5rem;
    padding: 10px 0;
}

#Make {
    font-size: 2rem;
    font-weight: 700;
    padding: 50px 0;
}

#promocao-paragrafo {
    font-size: 1rem;
}

#promocao-paragrafo strong {
    font-weight: 700;
}

#linha-prmocacao {
   border-color: var(--cor-do-footer);
}

.banner-imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

@media (min-width: 1366px) {
    .banner-textos {
        width: 1200px;
        gap: 250px;
    }

    #lacamento {
        font-size: 1.5rem;
        padding: 0 0 10px 0;
    }

    #ecobeauty {
        font-size: 4rem;
        padding: 30px 0;
    }

    #Garotas {
        font-size: 2rem;
        padding: 20px 0;
    }

    #Make {
        font-size: 2.5rem;
        padding: 50px 0;
    }

    #promocao-paragrafo {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {
    .banner-textos {
        width: 600px;
        gap: 22px;
    }

    #lacamento {
        font-size: 0.7rem;
    }

    #ecobeauty {
        font-size: 2rem;
    }

    #Garotas {
        font-size: 0.9rem;
    }

    #Make {
        font-size: 1.5rem;
    }

    #promocao-paragrafo {
        font-size: 1rem;
    }
}
    