.produtos-lancamentos-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 159px;
    text-align: center;
}

.container-card-lancamentos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px 0;
}

.card-lancamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* max-width: 362px; */
    margin: 0 auto;
    padding: 1px;
}

.card-lancamentos {
    position: relative;
    overflow: hidden;
}

.card-lacamento-img {
    position: relative;
}

.card-lacamento-img img {
    object-fit: cover;
    display: block;
    min-height: 300px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card-lacamento-span,
.card-lacamento-descricao {
    position: absolute;
}

.card-lacamento-span {
    background-color: var(--cor-do-span);
    color: white;
    padding: 3px 20px;
    border-radius: 4px;
    top: 0px;
    left: 0px;
    z-index: 2;
    font-size: 0.8rem;
}

.card-lacamento-descricao {
    font-size: 0.9rem;
    color: white;
    left: 10px;
    z-index: 2;
    top: 40px;
    padding: 2px;
}

.lacamento-card-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 5px;
}

.lacamento-preco {
    font-size: 0.8rem;
}

.lacamento-preco strong {
    font-size: 1rem;
    font-weight: 800;
}

.produtos-button {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: var(--cor-do-botao);
    padding: 5px 5px;
    border-radius: 38px;
}

.produtos-button img {
    width: 20%;
}

@media (min-width: 1366px) {
    .produtos-lancamentos-titulo {
        font-size: 1.72rem;
        font-weight: 700;
        padding: 20px 159px;
    }
    
    .container-card-lancamentos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
        padding: 50px 0;
    }
    
    .card-lancamentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        /* max-width: 362px; */
        margin: 0 auto;
        padding: 10px;
    }
    
    .card-lancamentos {
        position: relative;
        overflow: hidden;
    }
    
    .card-lacamento-img {
        position: relative;
    }
    
    .card-lacamento-img img {
        object-fit: cover;
        display: block;
        min-height: 410px;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    
    .card-lacamento-span,
    .card-lacamento-descricao {
        position: absolute;
    }
    
    .card-lacamento-span {
        background-color: var(--cor-do-span);
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        top: -8px;
        left: 0px;
        z-index: 2;
    }
    
    .card-lacamento-descricao {
        font-size: 1.375rem;
        color: white;
        left: 10px;
        z-index: 2;
        top: 40px;
    }
    
    .lacamento-card-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 15px;
    }
    
    .lacamento-preco strong {
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .lacamento-button {
        display: flex;
        align-items: center;
        max-height: fit-content;
        /* gap: 10px; */
        background-color: var(--cor-do-botao);
        padding: 10px 10px;
        border-radius: 38px;
    }
    
}