.grid-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 60px 40px;
    gap: 80px;
}
    
#titulo1{
    font-size: 2em;
    color: var(--cor-da-fonte-1);
    text-align: left;
    align-items: center;
    padding: 10px;
}
    
#tit-filtro{
    display: flex;
    gap: 10px;
}

.filt{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.tit-filtro-2{
    font-size: 1.3em;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    border-radius: 35px;
    margin: 10px;
}

.ordene{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(165,166,143);
    border-radius: 10px;
    margin-top: 30px;
}      
        
.bloco-0{
    border-radius: 10px;
    border: 2px solid var(--cor-secundaria);
    padding: 20px;
}
        
#texto{
    font-size: 1em;
}

.foto-produto{
    margin-top: 30px;
    max-width: 100%;
    border-radius: 10px;
}

.card-produto{
    display: grid;
    max-width: 250px;
    gap: 20px;
    }
    
.grid-maior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#preco-botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#preco{
    font-weight: 600;
    font-size: 1.4em;
}

.tit-produto{
    font-weight: 600;
    font-size: 1.5rem;
}

.botao-comprar{
    background-color: var(--cor-secundaria);
    padding: 8px 25px;
    border-radius: 35px;
    text-align: center;
}

#titulo-filtro {
    font-size: 2rem;
    color: var(--cor-da-fonte-1);
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

